 .wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-left {
  font-weight: 700;
  font-size: 20px;
}

.title-right {
  background: linear-gradient(180deg, #d2d1fa 0%, #9867ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Microsoft YaHei UI;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
}

.icons,
.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links {
  color: #494c58;
  font-size: 20px;
  font-weight: 700;
  list-style-type: none;
  font-family: Microsoft YaHei UI;
}

.icons > svg {
  width: 1.5rem;
}


.welcome {
  width: 800px;
  color: #494c58;
  font-family: Microsoft YaHei UI;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
  margin: 5px;
}

.frame {
  position: relative;
  width: 500px;
  height: 110px;
  border-radius: 88px;
  background: #ffffff;
}

.title {
  width: 700px;
  font-family: Microsoft YaHei UI;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
  background: linear-gradient(91deg, #4d49eb 38.72%, #9867ff 56.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-button {
  position: relative;
  flex: 1 1 auto;
  transition: all 0.5s ease-in-out;
  margin: 15px;
}

.introduce {
  width: 1200px;
  color: #494c58;
  font-family: Microsoft YaHei UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
